<%- include ("header") %>

<h2>this is the about page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fuga
  perspiciatis molestiae? Perferendis cupiditate, repellendus doloremque ipsum
  aliquid iusto quod corrupti provident dolore minima, velit rerum explicabo
  distinctio error excepturi modi possimus. Pariatur suscipit quas ipsam placeat
  et vitae fugiat obcaecati blanditiis possimus accusamus magnam temporibus
  exercitationem praesentium earum reiciendis corporis, expedita nemo cumque
  omnis nesciunt commodi minus! Aliquid quam assumenda id optio minus. Quis
  voluptates doloremque mollitia? Repudiandae quidem recusandae eum perspiciatis
  culpa reiciendis odio hic a maiores, provident beatae quisquam laborum facilis
  numquam praesentium cum soluta nobis neque aliquam. Repudiandae dolorem
  necessitatibus fuga, accusamus nam ad consectetur fugiat explicabo adipisci
  incidunt quidem, sed architecto vel alias sapiente deserunt, odit voluptate?
  Repellat accusantium, sit doloribus saepe voluptas ab eos nesciunt maxime,
  eaque quis minima omnis facere praesentium minus id a eligendi, velit hic
  maiores dolorem inventore delectus ut dolor. Ducimus praesentium doloremque
  aut magni maxime libero quibusdam voluptatem eius, eum, laborum voluptate
  vitae reiciendis nihil. Suscipit quisquam recusandae animi praesentium
  laboriosam soluta tempora voluptate iusto molestiae. Alias autem ut ad
  explicabo repudiandae, iure cumque ducimus. Aspernatur deleniti rem
  voluptates, fuga, repellat officia nobis architecto beatae veniam ipsa hic id
  soluta laborum magni! Aut omnis velit consectetur? Delectus reiciendis ullam
  nemo a eveniet, molestias repellendus quod praesentium amet optio ex eaque.
  Eos sit ut reiciendis commodi quia esse sapiente, nostrum voluptatem ducimus
  quam non vitae eius temporibus facere similique at quae veniam accusamus optio
  a eligendi recusandae animi. Dolorem fugit, neque, optio minima soluta enim
  magnam iste quae, aut assumenda numquam quos libero error. Tempora in ipsa ad
  veniam neque culpa, totam, quis dolore, earum molestias reprehenderit! Quidem
  id culpa veniam, ab aliquid placeat ipsam, tempore inventore rem assumenda,
  dolor eligendi quasi sint! Sapiente nobis dolorem similique veritatis, ratione
  odio, facere culpa excepturi nostrum assumenda reprehenderit odit! Doloremque
  autem ea ex veritatis adipisci, quas ratione nemo minus laborum. Eius totam
  ratione dolore, officia, cumque ipsam laborum facere rerum vel distinctio at,
  maiores earum quibusdam magnam sunt labore eveniet. Doloremque soluta fuga,
  voluptate excepturi doloribus optio ex, sint aliquam necessitatibus non ipsam
  ipsum nulla. Molestias distinctio ratione odio ullam ad ea ipsa quia voluptate
  officiis totam repellat, iusto enim qui quasi dicta. Deserunt provident
  suscipit animi voluptatibus assumenda quae, explicabo tempora harum corrupti
  molestias magni nam dolore facilis dolorem fuga temporibus ex cumque mollitia
  tenetur vel, nobis commodi? Omnis facilis at modi recusandae beatae, ratione
  nulla, iusto alias doloribus exercitationem autem, dolorum nobis libero qui
  vero necessitatibus in accusantium quisquam suscipit debitis facere hic?
  Aspernatur a ducimus odit eveniet debitis rem porro repellendus dolorem aut
  iste quasi incidunt obcaecati expedita, aliquid eligendi odio ad
  necessitatibus ullam eaque iure non saepe velit esse! Officia error facere,
  iusto nesciunt quo praesentium ex a voluptas nobis delectus est molestiae
  libero soluta nulla cupiditate eaque perspiciatis excepturi eius voluptates ad
  ipsam architecto. Suscipit asperiores vero, accusantium, quisquam, quos unde
  voluptas quaerat eos laborum ex harum inventore modi perferendis animi placeat
  iure molestias temporibus! Quibusdam reiciendis corrupti voluptatum ratione
  aut. Veniam temporibus cumque ab iste alias!
</p>

<%- include ("footer") %>
